<div class="container mt-3">
<div class="row align-items-center justify-content-center">
<h2>Please provide information about your new campaign.</h2>
</div>

<div class="row align-items-center justify-content-center">
<%= simple_form_for [@charity, @campaign] do |f|%>
<%= f.input :title, label: "What would you like to name your campaign?" %>
<%= f.input :goal, label: "What is the goal of your campaign?" %>
<%= f.input :how, label: "How do you plan to use the funds you raise to achieve your goal?" %>
<%= f.input :fundraising_goal, label: "How much would you like to raise for this campaign?" %>
<%= f.input :photo, as: :file, label: "Would you like to use a photo for this campaign?" %>
<%#= f.input :types, collection: Buyer.types, input_html: {multiple: true, id: "buyer_types_new"}, label: "What types of data are you interested in purchasing?" %>
<%#= f.input :photo %>
<%# <%= f.input :photo, as: :file %>
<%#= f.input :photo_cache, as: :hidden %>
<div style="text-align:center">
<%= f.button :submit, 'Submit', class: 'btn btn-primary'%>
</div>
<% end %>
</div>
</div>
